body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.main-container {
  background-image: url("img/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 10%;
}

.first-navigation {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .first-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
    background-color: #272a31;

  }

  .first-ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    padding: 0 10%;
  }

  .first-ul a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: small;
  }

  .sec-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 0 5px #706f6f;
      }

  .sec-ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    background-color: white;
    padding: 0 10%;
  }

  .sec-ul a {
    color: black;
    text-decoration: none;
    margin: 0 25px;
    font-size: medium;
}

  .logo {
    height: 100px;


  }

  .button {
    border: 3px solid #ec5242;
    padding: 5px 10px;
    color: #ec5242 !important;
  }

  .first-h1 {
    color: #ec5242;
  }

  .sec-h1 {
    color: #ec5242;
    font-size: 70px;
    background-image: url('img/orange\ img.jpg');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .page-par {
    color: #272a31;
  }

  .bold {
    color: #272a31;
    font-weight: bolder;
    font-size: 35px;
}

  .bootom-text {
     color: #d3d3d3;
 }

   .main-section {
    background-image: url("img/grey\ img.png");
    text-align: center;
    padding-top: 20px;
    background-size: cover;
    padding-bottom: 50px;
 }

   .main-section-h1 {
     text-align: center;
     margin-bottom: 10px;
     color: white;
 }

  .orange-underline {
    width: 70px;
    margin: 0 auto;
    border-bottom: 5px solid #ec5242;
 }

 .blocks {
     display: flex;
     list-style: none;
     margin: 10px 10%;
     margin-bottom: 50px;
 }

 .blocks li {
     margin: 10px;
     background-color: #3d3a3a7c;
     padding: 10px 0;
 }

 .blocks h2 {
   color: #ec5242;
 }

 .blocks p {
   color: #d3d3d3;
 }

 .see-more {
   color: #d3d3d3;
 }

 .fas {
   color: #d3d3d3;
   padding: 10px 10px;
 }

 .speaker-header {
   text-align: center;
 }

 .speaker-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 60px;
   padding: 10px 10%;
 }

 .speaker {
   list-style: none;
   display: flex;
   justify-content: space-between;
   width: 45%;
   margin: 15px;
 }

 .speaker img {
   height: auto;
   width: 150px;
 }

 .grey-underline {
  width: 30px;
  margin-top: 15px;
  border-bottom: 2px solid grey;

 }

 .job-position {
   color: #ec5242;
   font-style: italic;
 }

 .speaker-info {
   padding: 5px;
 }
}
